@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Montserrat&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;  
}


/*10 centering*/

/*#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;

}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#image-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h4 {
    color: white;
}

#hero-msg h1, #hero-msg h4 {

    text-align: center;
}

#hero-msg {
    margin-bottom: 100px;
}

.button-box {
    
    text-align: center;
}

main section {

    text-align: center;
}


/*11 Adding a container 
for our message background*/

/*#background {
    height: 725px;
    background-color: #d9c2a3;
}
           


/*12 As you apply background colors and text colors make sure you pick colors with a good contrast. 
Go to your site plan for colors that you had in mind for the site. 
Use background-color for backgrounds and color for text or font colors.*/

body {
    background-color: #fcfbfb; 
    font-family: roboto condensed;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color:rgba(20,30,13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}


nav {
    display: flex;
    justify-content: space-around;
}
 

nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

.book, .join {
    background-color: #d9c2a3;
    font-size: 18px;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;


}

.book:hover, .join:hover {
    background-color: #d9c2a3;
}


.msg {
    background-color: #6f7364 ;
    line-height: 1.5em;
    padding: 35px;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}


footer {
    background-color: rgba(20, 30, 13, .7);
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p a:hover {
    background-color: black;
    color: #d9c2a3;
    text-decoration: underline;
    color: white;
}


.home-title {
    color: #d9c2a3;
    font-family: 'permanent marker', 'roboto condensed', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
footer p, footer p a {
    color: white;
 }

.msg h2, .msg p {
    color: white;
}

footer a:hover {
    color: #d9c2a3;
}



/*14 Add a Few Widths*/
.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}


.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}
    
/*15 Take off or add the default 
underline of links*/
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
} 


footer a {
    text-decoration: none;

}

/*larger size to footer text*/
footer p {
    font-size: 1.2em;
}    




/*Add the text-decoration property with a value of underline 
to the following selectors:*/

footer p a:hover {
    text-decoration:none;
    color: white;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
    width:100%    
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;

}

.mountains {
    width: 100%;
}

main section img {
    box-sizing: border-box;
}

.home-grid {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}


.msg {
    grid-column: 6/10;
    grid-row: 6/7;
}


.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}


footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/*page 2 css*/

#rivers-content {
    background-color: rgba(186, 234, 237, 0.923);
    
}

#rivers-box {
    background-color: bisque;height: 450px;width: auto;
}

#little-img {
    
    display:block;
    margin: 50px auto;
    /*border-radius: 10px;color: rgb(80, 104, 123);*/
    border: #6f7364 8px solid;
    

}
#little-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-grid {
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}




