* {box-sizing: border-box}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header img{
    background-color: green;
    display: block;
    margin: 5px;
    padding: 2px
}


header {
    display: block;
    background-color: aquamarine;
    width: 800px;
    height: auto;
    border-radius: 10px;
    border: solid 1px  #000;
    margin: 10px

}

/*nav {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4c3a3a;
    margin:auto;
    max-width: 800px;
}*/

/*nav ul{
    list-style-type: none;
}


nav a {
    display:flex;
    color:#fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: black;
    justify-content: center;
}*/


/*insert */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
}
/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
    /*position: absolute;
    top:1rem;
    right:1rem;*/
}

#menu::before {
	content: "≡";
}

nav {
	background-color: rgb(147, 177, 174);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
/*@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		/*flex: 1 1 100%;*/
	/*}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}*/

/*insert*/

/*nav {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}


nav::before {
	content: "☰";
}

nav.open::before {
	content: "☒";
}*/

/* end*/



nav a:hover {
    background-color: rgb(92, 92, 64);
}

nav .active {
background-color:rgb(59, 59, 47);
}

/*header, footer, nav{background-color: rgb(41, 41, 45);}*/

Body {
    font-family:"Roboto", "sans-serif" ;
    font-weight: 400;
}

h1{
    font-weight: 100;
}


main h1{
    margin: 10px;
}

.larger{
    /*display: grid;
    grid-template-columns: repeat 3fr;
    grid-template-rows: auto;*/
    margin: 1rem 2vw;
}

.larger section{ 
    /*border:1px solid #0a0c0a;
    background-color: #23304f;
    border-radius: 10px;*/
    overflow:hidden;
    margin: 1rem 0
}

.larger h2{
    background-color: #415541;
    color:#fff;
    text-align:center;
    padding: .75rem 0;
    display: block;
}


.larger li{
    padding: 10px
}


.larger ul{
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 10px;
}

.hero-pictures img{
    width: 100%;
    
}
.hero img{
    width: 100%;
    height: auto;
    position: sticky;
    top:20px
    
}

/*from codepen*/

div {
	max-width: 670px;
	margin: 0 auto;
}

.hero-pictures {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 100%;
    z-index: -1;
    margin-left: 3px;
    margin-right: 3px;

}

.hero-pictures img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.label {
	position: absolute;
	top: 10px;
	left: 10px;
	background: radial-gradient(#fff, #4f512f);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
    
	
}

.label p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
}


/*Number of Visits css*/

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

iframe{
    margin-left: 10px;
	display:block;
}

/*weather css*/
.card {
	border: 1px solid #5d6f67;
	background-color: #dee6da;
	border-radius: 10px;
	text-align: center;
	display:block;
	height: auto;
	width:400px;	
	
}

.card h2 {
	color: #3a5250;
	margin:.3rem;
}

.card #description {
	text-transform:capitalize;
	margin: .3rem 0;
	color:#3a5250
}
	
.card #temperature{
	font-size:2rem;
	margin: .3rem;
	color: #537279;
	
}


/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
    }

	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}