* {box-sizing: border-box}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header img{
    background-color: green;
    display: block;
    margin: 5px;
    padding: 2px
}


header {
    background-color: aquamarine;
    width: 800px;
    height: auto;
    border-radius: 10px;
    border: solid 1px  #000;
    margin: 10px

}

nav {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*background-color: #4c3a3a;*/
    margin:auto;
    max-width: 800px;
}

nav ul{
    list-style-type: none;
}


nav a {
    display:flex;
    color:#fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    background-color: black;
    justify-content: center;
}


/*insert */
nav {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}


nav::before {
	content: "☰";
}

nav.open::before {
	content: "☒";
}

/* end*/



nav a:hover {
    background-color: rgb(92, 92, 64);
}

nav .active {
background-color:rgb(59, 59, 47);
}

/*header, footer, nav{background-color: rgb(41, 41, 45);}*/

Body {
    font-family:"Roboto", "sans-serif" ;
    font-weight: 400;
}

h1{
    font-weight: 100;
}


main h1{
    margin: 10px;
}

.larger{
    /*display: grid;
    grid-template-columns: repeat 3fr;
    grid-template-rows: auto;*/
    margin: 1rem 2vw;
}

.larger section{ 
    /*border:1px solid #0a0c0a;
    background-color: #23304f;
    border-radius: 10px;*/
    overflow:hidden;
    margin: 1rem 0
}

.larger h2{
    background-color: #415541;
    color:#fff;
    text-align:center;
    padding: .75rem 0;
    display: block;
}


.larger li{
    padding: 10px
}


.larger ul{
    background-color: aquamarine;
    border: 1px solid black;
    border-radius: 10px;
}

.hero-pictures img{
    width: 100%;
    
}
.hero img{
    width: 100%;
    height: auto;
    position: sticky;
    top:20px
    
}

/*from codepen*/

div {
	max-width: 670px;
	margin: 0 auto;
}

.hero-pictures {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 100%;
    z-index: -1;
    margin-left: 3px;
    margin-right: 3px;

}

.hero-pictures img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.label {
	position: absolute;
	top: 10px;
	left: 10px;
	background: radial-gradient(#fff, #4f512f);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
    
	
}

.label p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
}


/*Number of Visits css*/

#visits {
	color: navy;
	font-weight: bolder;
	font-size: larger;
}

iframe{
    margin-left: 10px;
}